@font-face {
  font-family: 'Lato-HeavyItalic';
  src: url('Lato-HeavyItalic.woff2') format('woff2'),
       url('Lato-HeavyItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

