.search {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	&._header {
		position: absolute;
		right: 0;
		z-index: 9;

		@media (--tablet) {
			right: 100%;

			.mobile & {
				right: 0;
			}
		}
	}

/*	&._focused {
		.search__field {
			width: 230px;
			cursor: text;
			background-color: var(--light-gray);
			background-position: 200% center;
		}
	}*/

	&.notEmpty {
		.search__clear {
			opacity: 1;
			visibility: visible;
		}
	}

	&.notEmpty,
	&._focused {
		.search__field {
			width: 230px;
			cursor: text;
			background-color: var(--light-gray);
			background-position: 200% center;
			box-shadow: 0 2px 8px 0 rgba(44, 125, 206, .32);

			@media (--wide) {
				width: 250px;
			}
		}
	}

	&__field {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		height: 40px;
		padding: 0 30px 0 10px;
		font: 1.6rem var(--Regular);
		color: var(--gray);
		outline: none;
		background-image: resolve('search-ico.svg');
		background-position: right center;
		background-size: 20px 17px;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: 400ms;

		@media (--tablet) {
			margin: 0 20px 0 0;
			padding: 0 35px 0 20px;

			.mobile & {
				margin-right: 0;
				padding-right: 30px;
				padding-left: 10px;
			}
		}
	}

	&__clear {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0, -50%);
		display: block;
		width: 20px;
		height: 30px;
		border-radius: 50%;
		background: resolve('search-clear.svg') center/10px no-repeat;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		transition: 400ms;

		@media (--tablet) {
			right: 30px;
		}
	}
}