footer.footer
	.container
		.footer-content
			.footer-menu
				.footer-menu__section
					button.footer-menu__section-title(type="button") 
						span Заголовок 1
					.footer-menu__list
						each item in ['Мишени для стрельбы', 'Для индивидуальных занятий', 'Профессиональные модели', 'Олимпийские виды', 'Системы автоматизации и учета', 'Дополнительное оборудование', 'Запасные части']
							a.footer-menu__link(href="#")
								.ellipsis-outer._l0
									i.ellipsis._l0
								span= item
				.footer-menu__section
					button.footer-menu__section-title(type="button") 
						span Заголовок 2
					.footer-menu__list
						each item in ['Новости', 'Наша компания', 'Promatic International', 'Elettronica Progetti', 'Long Range', 'CruxOld']
							a.footer-menu__link(href="#")
								.ellipsis-outer._l0
									i.ellipsis._l0
								span= item
				.footer-menu__section
					button.footer-menu__section-title(type="button") 
						span Заголовок 3
					.footer-menu__list
						each item in ['Как выбрать товар', 'Оформление и управлением заказом', 'Оплата', 'Доставка', 'Гарантия', 'Сервесное обслуживание']
							a.footer-menu__link(href="#")
								.ellipsis-outer._l0
									i.ellipsis._l0
								span= item
				.footer-menu__section
					button.footer-menu__section-title(type="button") 
						span Заголовок 4
					.footer-menu__list
						each item in ['Скидки и Акции', 'Trade In', 'Расскажите о нас', 'Обратная связь', 'Контакты']
							a.footer-menu__link(href="#")
								.ellipsis-outer._l0
									i.ellipsis._l0
								span= item
				.footer__login
					a.login._burger-menu(href="./authorization.html") Войти
			.footer__contacts
				.social
					a.social__link._fb.js-hover-svg(href="#" title="facebook")
						span.circle-svg-snap
							<svg class="circle-animation" viewbox="0 0 200 200">
								<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
								<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
							</svg>
							
					a.social__link._tw.js-hover-svg(href="#" title="twitter")
						span.circle-svg-snap
							<svg class="circle-animation" viewbox="0 0 200 200">
								<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
								<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
							</svg>
							
					a.social__link._vk.js-hover-svg(href="#" title="vkontakte")
						span.circle-svg-snap
							<svg class="circle-animation" viewbox="0 0 200 200">
								<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
								<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
							</svg>
							
					a.social__link._yt.js-hover-svg(href="#" title="you tube")
						span.circle-svg-snap
							<svg class="circle-animation" viewbox="0 0 200 200">
								<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
								<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
							</svg>
							

				.info
					.info__item._phones
						a(href="tel:+79219578899") +7 |921| 
							span  957 88 99
						a(href="tel:+79219578899") +7 |921| 
							span  957 88 99
					.info__group
						a.info__item._email(href="mailto:info@pro-matic.ru") info@pro-matic.ru
						.info__item._location Cанкт-Петербург











			//- .footer-section
			//- 	ul.footer-menu
			//- 		each item in ['Мишени для стрельбы', 'Для индивидуальных занятий', 'Профессиональные модели', 'Олимпийские виды', 'Системы автоматизации и учета', 'Дополнительное оборудование', 'Запасные части']
			//- 			li.footer-menu__item
			//- 				a.footer-menu__link(href="#")
			//- 					.ellipsis-outer._l0
			//- 						i.ellipsis._l0
			//- 					span= item
			//- .footer-section
			//- 	ul.footer-menu
			//- 		each item in ['Новости', 'Наша компания', 'Promatic International', 'Elettronica Progetti', 'Long Range', 'CruxOld']
			//- 			li.footer-menu__item
			//- 				a.footer-menu__link(href="#")
			//- 					.ellipsis-outer._l0
			//- 						i.ellipsis._l0
			//- 					span= item
			//- .footer-section
			//- 	ul.footer-menu
			//- 		each item in ['Как выбрать товар', 'Оформление и управлением заказом', 'Оплата', 'Доставка', 'Гарантия', 'Сервесное обслуживание']
			//- 			li.footer-menu__item
			//- 				a.footer-menu__link(href="#")
			//- 					.ellipsis-outer._l0
			//- 						i.ellipsis._l0
			//- 					span= item
			//- .footer-section
			//- 	ul.footer-menu
			//- 		each item in ['Скидки и Акции', 'Trade In', 'Расскажите о нас', 'Обратная связь', 'Контакты']
			//- 			li.footer-menu__item
			//- 				a.footer-menu__link(href="#")
			//- 					.ellipsis-outer._l0
			//- 						i.ellipsis._l0
			//- 					span= item
			//- .footer-section
			//- 	.social
			//- 		a.social__link._fb.js-hover-svg(href="#" title="facebook")
			//- 			span.circle-svg-snap
			//- 				<svg class="circle-animation" viewbox="0 0 200 200">
			//- 					<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 					<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 				</svg>
							
			//- 		a.social__link._tw.js-hover-svg(href="#" title="twitter")
			//- 			span.circle-svg-snap
			//- 				<svg class="circle-animation" viewbox="0 0 200 200">
			//- 					<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 					<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 				</svg>
							
			//- 		a.social__link._vk.js-hover-svg(href="#" title="vkontakte")
			//- 			span.circle-svg-snap
			//- 				<svg class="circle-animation" viewbox="0 0 200 200">
			//- 					<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 					<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 				</svg>
							
			//- 		a.social__link._yt.js-hover-svg(href="#" title="you tube")
			//- 			span.circle-svg-snap
			//- 				<svg class="circle-animation" viewbox="0 0 200 200">
			//- 					<path fill="none" stroke-linecap="round" stroke-width="20" stroke="#d3dce8" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 					<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="20" stroke="#6093c7" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
			//- 				</svg>
							

			//- 	.info
			//- 		.info__item._phones
			//- 			a(href="tel:+79219578899") +7 |921| 
			//- 				span  957 88 99
			//- 			a(href="tel:+79219578899") +7 |921| 
			//- 				span  957 88 99
			//- 		a.info__item._email(href="mailto:info@pro-matic.ru") info@pro-matic.ru
			//- 		.info__item._location Cанкт-Петербург
	.copyright
		.container 
			a(href="http://astramg.ru/" target="_blank") Сайт разработан 
				span AstraMediaGroup
