header.header._store
	.container
		.header__wrapper
			.header__navigation
				a.logo.js-hover-svg(href="./index.html") pro-matic
					span.circle-svg-snap
						<svg class="circle-animation" viewbox="0 0 200 200">
							<path fill="none" stroke-linecap="round" stroke-width="22" stroke="#e2e9f0" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
							<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="22" stroke="#3f86d1" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
						</svg>


				a.catalog-menu__toggle(href="#catalog" data-toggle) 
					i
					span Каталог
				
				nav.header-menu
					a.header-menu__link(href="./payment.html") Оплата
					a.header-menu__link(href="#") Доставка
					a.header-menu__link(href="./contacts.html") Контакты

			.header-controls
				form(action="").search._header
					input.search__field(type="text" name="search")/
					span.search__clear
				
				.header-basket
					a.header-basket__btn(href="./basket.html")
					a.header__shop._store-modify(href="./basket.html")
						.header-basket__info
							| Корзина
							.header-basket__cost
								| 12283000
						.header-basket__counter
							.header-basket__count
								| 191
					.header-basket__preview
						.header-basket__list
							.header-basket__list-header
								.header-basket__list-name Товары
								.header-basket__list-count Кол-во
								.header-basket__list-cost Цена
							.header-basket__goods
								.header-basket__item
									a.header-basket__item-img(href="./product-card.html")
										img(src="./assets/images/img/catalog-img-1.png", alt="")/
									a.header-basket__item-name(href="./product-card.html") DOUBLE EAGLE AWK45
									.header-basket__item-count 1
									.header-basket__item-price 15 000 руб
									button.header-basket__item-del.js-hover-svg(type="button")
										span.circle-svg-snap
											<svg class="circle-animation" viewbox="0 0 200 200"> <path fill="none" stroke-linecap="round" stroke-width="18" stroke="#e9edf0" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> <path class="moving-line" fill="none" stroke-linecap="round" stroke-width="18" stroke="#ef4136" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> </svg>
								.header-basket__item
									a.header-basket__item-img(href="./product-card.html")
										img(src="./assets/images/img/catalog-img-1.png", alt="")/
									a.header-basket__item-name(href="./product-card.html") DOUBLE EAGLE AWK45
									.header-basket__item-count 1
									.header-basket__item-price 15 000 руб
									button.header-basket__item-del.js-hover-svg(type="button")
										span.circle-svg-snap
											<svg class="circle-animation" viewbox="0 0 200 200"> <path fill="none" stroke-linecap="round" stroke-width="18" stroke="#e9edf0" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> <path class="moving-line" fill="none" stroke-linecap="round" stroke-width="18" stroke="#ef4136" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> </svg>
								.header-basket__item
									a.header-basket__item-img(href="./product-card.html")
										img(src="./assets/images/img/catalog-img-1.png", alt="")/
									a.header-basket__item-name(href="./product-card.html") DOUBLE EAGLE AWK45
									.header-basket__item-count 1
									.header-basket__item-price 15 000 руб
									button.header-basket__item-del.js-hover-svg(type="button")
										span.circle-svg-snap
											<svg class="circle-animation" viewbox="0 0 200 200"> <path fill="none" stroke-linecap="round" stroke-width="18" stroke="#e9edf0" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> <path class="moving-line" fill="none" stroke-linecap="round" stroke-width="18" stroke="#ef4136" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> </svg>
								.header-basket__item
									a.header-basket__item-img(href="./product-card.html")
										img(src="./assets/images/img/catalog-img-1.png", alt="")/
									a.header-basket__item-name(href="./product-card.html") DOUBLE EAGLE AWK45
									.header-basket__item-count 1
									.header-basket__item-price 15 000 руб
									button.header-basket__item-del.js-hover-svg(type="button")
										span.circle-svg-snap
											<svg class="circle-animation" viewbox="0 0 200 200"> <path fill="none" stroke-linecap="round" stroke-width="18" stroke="#e9edf0" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> <path class="moving-line" fill="none" stroke-linecap="round" stroke-width="18" stroke="#ef4136" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/> </svg>
								.header-basket__item
									a.header-basket__item-img(href="./product-card.html")
										img(src="./assets/images/img/catalog-img-1.png", alt="")/
									a.header-basket__item-name(href="./product-card.html") Мишень Стандарт оранжевая
									.header-basket__item-count 1000
									.header-basket__item-price 7 300 000 руб
									button.header-basket__item-del.js-hover-svg(type="button")
										span.circle-svg-snap
											<svg class="circle-animation" viewbox="0 0 200 200">
												<path fill="none" stroke-linecap="round" stroke-width="18" stroke="#e9edf0" stroke-dasharray="560,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
												<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="18" stroke="#ef4136" stroke-dasharray="340,560" d="M 100 100 m -80 0 a 80 80 0 1 1 160 0 a 80 80 0 1 1 -160 0"/>
											</svg>
						.header-basket__footer
							.header-basket__footer-info
								span.header-basket__footer-count 11
								| &nbsp;товаров на сумму 
								span.header-basket__footer-cost 50 000
								| &nbsp;руб.
							a.header-basket__change.btn._white(href="./basket.html") Изменить заказ
							a.header-basket__checkout.btn._blue(href="./ordering.html") Оформить заказ

				a.login(href="./authorization.html") Войти
			
			.burger-menu
				.burger-menu__line._top
				.burger-menu__line
				.burger-menu__line._bottom