head
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
	meta(name="cmsmagazine" content="c45d4085c1835d45ae4ee5d8a8b6e1f9")
	meta(name="ktoprodvinul" content="097af53cc9c7abd7")
	title page

	link(rel='stylesheet', href='./css/vendorCss/jquery.fancybox.css')
	link(rel='stylesheet', href='./css/vendorCss/slick.css')
	link(rel='stylesheet', href='./css/vendorCss/magnific-popup.css')

	link(rel='stylesheet', href='./css/styles.css')
