include mixins/_breadcrumbs.pug
include mixins/_news-list.pug

doctype html
html
	include includes/head.pug
	body
		include includes/header.pug
		include includes/catalog-menu.pug

		main.main
			+breadcrumbs(['Новости'])
			
			.news
				.news__wrapper.container
					h1.h1 Новости
					.news-list
						.news-list__wrapper
							+news-list([
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: '18-20 апреля 2017 года в Москве на территории Конгрессно-выставочного центра «Сокольники» пройдет международная Выставка «СПОРТ» – крупнейшее в России выставочное мероприятие спортивной индустрии.'
								},
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: 'мало текста тут...'
								},
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: '18-20 апреля 2017 года в Москве на территории Конгрессно-выставочного центра «Сокольники» пройдет международная Выставка «СПОРТ» – крупнейшее в России выставочное мероприятие спортивной индустрии.'
								},
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: '18-20 апреля 2017 года в Москве на территории Конгрессно-выставочного центра «Сокольники» пройдет международная Выставка «СПОРТ» – крупнейшее в России выставочное мероприятие спортивной индустрии.'
								},
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: '18-20 апреля 2017 года в Москве на территории Конгрессно-выставочного центра «Сокольники» пройдет международная Выставка «СПОРТ» – крупнейшее в России выставочное мероприятие спортивной индустрии.'
								},
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: '18-20 апреля 2017 года в Москве на территории Конгрессно-выставочного центра «Сокольники» пройдет международная Выставка «СПОРТ» – крупнейшее в России выставочное мероприятие спортивной индустрии.'
								},
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: '18-20 апреля 2017 года в Москве на территории Конгрессно-выставочного центра «Сокольники» пройдет международная Выставка «СПОРТ» – крупнейшее в России выставочное мероприятие спортивной индустрии.'
								},
								{
									img: './assets/images/img/news-img-1.jpg',
									date: '28.01.<span>2017</span>',
									title: 'Международная выставка «Спорт» 2017',
									desc: '18-20 апреля 2017 года в Москве на территории Конгрессно-выставочного центра «Сокольники» пройдет международная Выставка «СПОРТ» – крупнейшее в России выставочное мероприятие спортивной индустрии.'
								}
							])
							button.btn._more-list.js-hover-svg
								span.circle-svg-snap
									<svg class="circle-animation" viewbox="0 0 200 200">
										<path fill="none" stroke-linecap="round" stroke-width="18" stroke="#6093c7" stroke-dasharray="560,560" d="M 100 100 m -90 0 a 90 90 0 1 0 180 0 a 90 90 0 1 0 -180 0"/>
										<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="18" stroke="#ecf2f8" stroke-dasharray="340,560" d="M 100 100 m -90 0 a 90 90 0 1 1 180 0 a 90 90 0 1 1 -180 0"/>
									</svg>
								| Показать еще 
								span 10
								|  новостей
			

		include includes/footer.pug
		include includes/scripts.pug