doctype html
html
	include includes/head.pug
	body

		main.main
			.personal-area
				.container._personal
					a.btn._come-back.js-hover-svg(href="#") Вернуться назад
						span.circle-svg-snap
							<svg class="circle-animation" viewbox="0 0 200 200">
								<path fill="none" stroke-linecap="round" stroke-width="18" stroke="#e9edf0" stroke-dasharray="560,560" d="M 100 100 m -90 0 a 90 90 0 1 0 180 0 a 90 90 0 1 0 -180 0"/>
								<path class="moving-line" fill="none" stroke-linecap="round" stroke-width="18" stroke="#2f80d2" stroke-dasharray="340,560" d="M 100 100 m -90 0 a 90 90 0 1 1 180 0 a 90 90 0 1 1 -180 0"/>
							</svg>
					
					include includes/header-personal.pug		
					
					.payment
						.payment__title Оплата 
							span заказа
						.payment__goods
							.payment__goods-header
								.payment__goods-title._big Товары
								.payment__goods-title Кол-во (шт.)
								.payment__goods-title Цена (руб.)
							.payment__goods-list
								.payment__goods-row
									.payment__goods-name DOUBLE EAGLE AWK45
									.payment__goods-quantity 1
									.payment__goods-price 15 500 750
								.payment__goods-row
									.payment__goods-name Мишень Стандарт оранжевая
									.payment__goods-quantity 10
									.payment__goods-price 1 000

						.payment__total
							.payment__total-title К оплате: 
							.payment__total-cost
								span 95 000
								| &nbsp;Р

						.payment__delivery
							.payment__delivery-title Доставка:
							.payment__delivery-info
								.payment__delivery-cost ~
									span 4 500
									| &nbsp;Р
								.payment__delivery-pict
									img(src="./assets/images/img/delivery_business-line.svg", alt="")/
								.payment__delivery-desc Услуги транспортной компании
									mark оплачиваются отдельно 
									| при получении груза.
								.payment__delivery-remark Расчет доставки примерный и может не совпадать с итоговой  суммой.
						.payment__btns
							a.payment__back-btn.btn._white(href="./ordering.html") Вернуться к оформлению заказа
							button.btn._blue(type="button") Оплатить онлайн
					

		include includes/scripts.pug