doctype html
html
	include includes/head.pug
	body
		include includes/header-store.pug
		include includes/catalog-menu.pug

		main.main
			.promo-goods
				.promo-goods__banner
					.container
						.promo-goods__banner-text
							.promo-goods__banner-logo
								img(src="assets/images/img/brand-1.png" alt="")
							.promo-goods__banner-title MERLIN&nbsp;
								span Т1
							.promo-goods__banner-desc Машинка для запуска керамических тарелок для стендовой стрельбы
							.promo-goods__slider-wrap
								.promo-goods__slider
									.promo-goods__slider-item
										a.promo-goods__slider-link(href="http://www.youtube.com/watch?v=0O2aH4XLbto" data-fancybox)
										.promo-goods__slider-img
											img(src="assets/images/img/promo-goods-banner-slider.jpg")
											span
										.promo-goods__slider-title Стрельба по одиночной мишени
									.promo-goods__slider-item
										a.promo-goods__slider-link(href="http://www.youtube.com/watch?v=0O2aH4XLbto" data-fancybox)
										.promo-goods__slider-img
											img(src="assets/images/img/promo-goods-banner-slider.jpg")
											span
										.promo-goods__slider-title Стрельба по одиночной мишени
									.promo-goods__slider-item
										a.promo-goods__slider-link(href="http://www.youtube.com/watch?v=0O2aH4XLbto" data-fancybox)
										.promo-goods__slider-img
											img(src="assets/images/img/promo-goods-banner-slider.jpg")
											span
										.promo-goods__slider-title Стрельба по одиночной мишени
									.promo-goods__slider-item
										a.promo-goods__slider-link(href="http://www.youtube.com/watch?v=0O2aH4XLbto" data-fancybox)
										.promo-goods__slider-img
											img(src="assets/images/img/promo-goods-banner-slider.jpg")
											span
										.promo-goods__slider-title Стрельба по одиночной мишени
						.promo-goods__banner-img
							.banner-item__pict
								.banner-item__circle-big
									.banner-item__circle-middle
										.banner-item__circle-small
							img(src="assets/images/img/promo-goods-buy.png" alt="")
				.best-decision
					.container(style="background-image: url('assets/images/pict/best-decision.png');")
						.best-decision__text
							.best-decision__title Лучшее решение в своем <br> ценовом сегменте
							.best-decision__desc Машинка взводится одной рукой или подъемом спусковой педали, ее может использовать как заряжающий, так и сам стрелок. Для сборки конструкции потребуется минимум времени и всего два гаечных ключа. Позволяет запускать 1 или 2 стандартных мишени.
				.promo-goods__content-wrap
					.container
						.promo-goods__content
							.promo-goods__content-title Машинка Т1 для запуска мишеней
							.promo-goods__content-list
								.promo-goods__content-item Прочная рама из качественного металла. Не деформируется при эксплуатации и защищена от коррозии стойким покрытием. Передняя опора имеет заостренные концы для надёжной фиксации в грунте.
									<svg width="43" height="39" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.38 79.27"> <path d="M62.59,53.81H62.5L1.41,50.11a1.5,1.5,0,0,1-.83-2.68L27.84,26.34a1.5,1.5,0,0,1,1.83,2.37L5.58,47.35l56.28,3.41L81,24.14l-38.52-.75A1.5,1.5,0,0,1,41,21.86a1.48,1.48,0,0,1,1.53-1.47l41.37.8a1.5,1.5,0,0,1,1.19,2.38L63.81,53.19A1.5,1.5,0,0,1,62.59,53.81Z" /> <path d="M62.59,67.7H62.5L1.41,64a1.5,1.5,0,0,1-.83-2.68L16.25,49.19a1.5,1.5,0,0,1,1.83,2.37L5.58,61.24l56.28,3.41L81,38l-5.47-.11a1.5,1.5,0,0,1,0-3h0l8.33.16a1.5,1.5,0,0,1,1.19,2.38L63.81,67.07A1.5,1.5,0,0,1,62.59,67.7Z" /> <path d="M62.59,79.27H62.5L1.41,75.56a1.5,1.5,0,0,1-.83-2.68L13.91,62.57a1.5,1.5,0,0,1,1.83,2.37L5.58,72.81l56.28,3.41L81,49.59l-5-.1a1.5,1.5,0,0,1,0-3h0l7.86.15A1.5,1.5,0,0,1,85.1,49L63.81,78.64A1.5,1.5,0,0,1,62.59,79.27Z" /> <path d="M42.66,34.41a1.5,1.5,0,0,1-.88-.29l-7-5.11-7,5.11a1.5,1.5,0,0,1-2.31-1.68l2.69-8.27-7-5.11a1.5,1.5,0,0,1,.88-2.71h8.69l2.69-8.27a1.5,1.5,0,0,1,2.85,0l2.69,8.27h8.69a1.5,1.5,0,0,1,.88,2.71l-7,5.11,2.69,8.27a1.5,1.5,0,0,1-1.43,2Zm-7.91-8.75a1.5,1.5,0,0,1,.88.29l4.18,3-1.6-4.91a1.5,1.5,0,0,1,.54-1.68l4.18-3H37.77a1.5,1.5,0,0,1-1.43-1l-1.6-4.91-1.6,4.91a1.5,1.5,0,0,1-1.43,1H26.56l4.18,3a1.5,1.5,0,0,1,.54,1.68L29.69,29l4.18-3A1.5,1.5,0,0,1,34.75,25.66Z" /> <polygon points="24.13 0.46 25.48 4.61 29.84 4.61 26.31 7.17 27.66 11.32 24.13 8.76 20.6 11.32 21.95 7.17 18.42 4.61 22.78 4.61 24.13 0.46" /> <path d="M27.66,11.82a.5.5,0,0,1-.29-.1L24.13,9.37,20.9,11.72a.5.5,0,0,1-.77-.56l1.23-3.8L18.13,5a.5.5,0,0,1,.29-.9h4L23.65.31a.52.52,0,0,1,1,0l1.23,3.8h4a.5.5,0,0,1,.29.9L26.9,7.36l1.23,3.8a.5.5,0,0,1-.48.65ZM24.13,8.26a.5.5,0,0,1,.29.1L26.71,10l-.87-2.68A.5.5,0,0,1,26,6.77L28.3,5.11H25.48A.5.5,0,0,1,25,4.76l-.87-2.68-.87,2.68a.5.5,0,0,1-.48.35H20l2.28,1.66a.5.5,0,0,1,.18.56L21.55,10l2.28-1.66A.5.5,0,0,1,24.13,8.26Z" /> </svg>
								.promo-goods__content-item Широкий диапазон настроек запуска. Позволяет вести стрельбу по высоко- и низколетящим целям.
									<svg width="33" height="31" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.34 41.73"> <polygon points="45.34 41.73 0 41.73 24.53 0 27.12 1.52 5.24 38.73 45.34 38.73 45.34 41.73" /> <path d="M22.59,40.12a26.27,26.27,0,0,0-1.85-6.92,16.8,16.8,0,0,0-3.52-5.74l2-2.22a19.25,19.25,0,0,1,4.29,6.85,28.58,28.58,0,0,1,2.06,7.82Z" /> <path d="M35.17,41.24a57.31,57.31,0,0,0-4.84-17.05A42.6,42.6,0,0,0,20.12,11.26L22,8.91a45.09,45.09,0,0,1,11,14,59.37,59.37,0,0,1,5.13,18.08Z" /> <rect x="2.75" y="38.13" width="2.5" height="3" transform="translate(-24.95 12.28) rotate(-40.87)" /> <path d="M9.44,36.91l-2-2.27,3.51-3,2,2.27Zm7-6.07-2-2.27,3.51-3,2,2.27Zm7-6.07-2-2.27,3.51-3,2,2.27Zm7-6.07-2-2.27,3.51-3,2,2.27Z" /> <rect x="36.21" y="9.19" width="2.5" height="3" transform="translate(2.14 27.11) rotate(-40.87)" /> </svg>
								.promo-goods__content-item В зависимости от расположения регулировочного зажима на раме изменяется направление полёта мишени.
									<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.26 48.26"> <path d="M24.13,48.26A24.13,24.13,0,1,1,48.26,24.13,24.16,24.16,0,0,1,24.13,48.26ZM24.13,3A21.13,21.13,0,1,0,45.26,24.13,21.15,21.15,0,0,0,24.13,3Z" /> <path d="M24.13,29.26a5.13,5.13,0,1,1,5.13-5.13A5.14,5.14,0,0,1,24.13,29.26Zm0-7.26a2.13,2.13,0,1,0,2.13,2.13A2.13,2.13,0,0,0,24.13,22Z" /> <path d="M24.13,43.26A19.13,19.13,0,1,1,43.26,24.13,19.15,19.15,0,0,1,24.13,43.26ZM24.13,8A16.13,16.13,0,1,0,40.26,24.13,16.15,16.15,0,0,0,24.13,8Z" /> <path d="M24.13,35.26A11.13,11.13,0,1,1,35.26,24.13,11.14,11.14,0,0,1,24.13,35.26Zm0-19.26a8.13,8.13,0,1,0,8.13,8.13A8.14,8.14,0,0,0,24.13,16Z" /> <rect x="1.37" y="22.16" width="7.67" height="3" /> <rect x="38.37" y="22.83" width="8.67" height="3" /> </svg>
								.promo-goods__content-item Возможность менять скорость и дальность выброса мишени простым и лёгким изменением натяжения пружины. Сила натяжения пружины регулируется с помощью барашка, при этом пусковая пружина не натягивается до момента запуска
									<svg width="25" height="54" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.44 29.75"> <path d="M6.5,9.56c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,6c.83-1.15,3.17-1.9,6-1.9a10.86,10.86,0,0,1,4.74,1.25.5.5,0,0,1-.49.87A10,10,0,0,0,6.94,5.13c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37V.5a.5.5,0,0,1,1,0V6.19a2.46,2.46,0,0,1-.79,1.66C11.53,9,9.46,9.56,6.5,9.56Z" /> <path d="M6.5,12.13c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,8.58c.83-1.15,3.17-1.9,6-1.9a10.86,10.86,0,0,1,4.74,1.25.5.5,0,0,1-.49.87A10,10,0,0,0,6.94,7.69c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48,2.46,2.46,0,0,1-.79,1.67C11.53,11.55,9.46,12.13,6.5,12.13Z" /> <path d="M6.5,14.69c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,11.15c.83-1.15,3.17-1.9,6-1.9a10.86,10.86,0,0,1,4.74,1.25.5.5,0,0,1-.49.87,10,10,0,0,0-4.26-1.12c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48A2.46,2.46,0,0,1,12.65,13C11.53,14.11,9.46,14.69,6.5,14.69Z" /> <path d="M6.5,17.25c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,13.71c.83-1.15,3.17-1.9,6-1.9a10.86,10.86,0,0,1,4.74,1.25.5.5,0,0,1-.49.87,10,10,0,0,0-4.26-1.12c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48,2.46,2.46,0,0,1-.79,1.67C11.53,16.67,9.46,17.25,6.5,17.25Z" /> <path d="M6.5,19.81c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,16.27c.83-1.15,3.17-1.9,6-1.9a10.86,10.86,0,0,1,4.74,1.25.5.5,0,0,1-.49.87,10,10,0,0,0-4.26-1.12c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48,2.46,2.46,0,0,1-.79,1.67C11.53,19.23,9.46,19.81,6.5,19.81Z" /> <path d="M6.5,22.38c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,18.83c.83-1.15,3.17-1.9,6-1.9a10.86,10.86,0,0,1,4.74,1.25.5.5,0,0,1-.49.87,10,10,0,0,0-4.26-1.12c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48,2.46,2.46,0,0,1-.79,1.67C11.53,21.8,9.46,22.38,6.5,22.38Z" /> <path d="M6.5,24.94c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,21.4c.83-1.15,3.17-1.9,6-1.9a10.86,10.86,0,0,1,4.74,1.25.5.5,0,0,1-.49.87A10,10,0,0,0,6.94,20.5c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48,2.46,2.46,0,0,1-.79,1.67C11.53,24.36,9.46,24.94,6.5,24.94Z" /> <path d="M6.5,27.5c-2.63,0-5-.9-5.62-2.13A1.3,1.3,0,0,1,1,24c.83-1.15,3.17-1.9,6-1.9a10.67,10.67,0,0,1,4.33,1l.41.21a.5.5,0,0,1-.49.87L10.84,24a9.84,9.84,0,0,0-3.91-.95c-2.41,0-4.53.61-5.16,1.48a.31.31,0,0,0,0,.37c.33.64,2.06,1.58,4.73,1.58,5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48,2.46,2.46,0,0,1-.79,1.67C11.53,26.92,9.46,27.5,6.5,27.5Z" /> <path d="M5.58,29.75a50.13,50.13,0,0,1-5.13-.32.5.5,0,1,1,.1-1,45.28,45.28,0,0,0,5.5.31H6.5c5.82,0,5.94-2.35,5.94-2.37a.51.51,0,0,1,.5-.49.49.49,0,0,1,.5.48A2.46,2.46,0,0,1,12.65,28c-1.12,1.14-3.19,1.72-6.15,1.72H5.58Z" /> <path d="M12.94,26.81a.5.5,0,0,1-.5-.5V6.19a.5.5,0,1,1,1,0V26.31A.5.5,0,0,1,12.94,26.81Z" /> </svg>
								.promo-goods__content-item Вес конструкции не превышает 11 кг.
									<svg width="28" height="33" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.23 56.33"> <path d="M32,17.44l-1.81-.68a19.91,19.91,0,0,0-14.15,0l-1.81.68-.65-5.84a4,4,0,0,1,4-4.44h11a4,4,0,0,1,4,4.38Zm-8.88-5a22.81,22.81,0,0,1,6.32.9l.24-2.12a1,1,0,0,0-.27-.73,1,1,0,0,0-.76-.34h-11a1,1,0,0,0-1,1.13l.23,2.06A22.81,22.81,0,0,1,23.11,12.45Z" /> <path d="M29.42,56.33H16.85a13.47,13.47,0,0,1-8.74-3.21,23.05,23.05,0,0,1-.92-34.28l-.72-6.5A11.27,11.27,0,0,1,13,1a11.67,11.67,0,0,1,4.85-1H28.49a11.26,11.26,0,0,1,3.32.45,11.15,11.15,0,0,1,8,11.83L39,18.85a23.05,23.05,0,0,1-1.56,34.8A13,13,0,0,1,29.42,56.33ZM17.87,3a8.71,8.71,0,0,0-3.61.7A8.16,8.16,0,0,0,9.45,12l.89,8-.58.52a20.05,20.05,0,0,0,.3,30.29,10.47,10.47,0,0,0,6.79,2.49H29.42a10,10,0,0,0,6.2-2,20.06,20.06,0,0,0,.86-30.75L35.89,20l.9-8.07a8.17,8.17,0,0,0-5.85-8.65A8.33,8.33,0,0,0,28.49,3ZM32,17.44l-1.81-.68a19.91,19.91,0,0,0-14.15,0l-1.81.68-.65-5.84a4,4,0,0,1,4-4.44h11a4,4,0,0,1,4,4.38Zm-8.88-5a22.81,22.81,0,0,1,6.32.9l.24-2.11a1,1,0,0,0-.27-.74,1,1,0,0,0-.76-.34h-11a1,1,0,0,0-1,1.13l.23,2.06A22.81,22.81,0,0,1,23.11,12.45Z" /> <path d="M39.47,35.83h-3A11.18,11.18,0,0,0,25.31,24.67v-3A14.18,14.18,0,0,1,39.47,35.83Z" /> </svg>
			.demonstration-goods
				img(src="assets/images/img/promo-goods-slider.jpg" alt="")
				img(src="assets/images/img/promo-goods-slider.jpg" alt="")
				img(src="assets/images/img/promo-goods-slider.jpg" alt="")
			.promo-goods__buy-wrap
				.container
					.promo-goods__buy
						.promo-goods__buy-img
							.banner-item__pict
								.banner-item__circle-big
									.banner-item__circle-middle
										.banner-item__circle-small
							img(src="assets/images/img/promo-goods-buy.png" alt="")
						.promo-goods__buy-text-wrap
							.promo-goods__buy-text
								.promo-goods__buy-title Купить в магазине
								.promo-goods__buy-desc
									p В компании «СПОРТИНГ СЕРВИС» можно купить машинку для запуска мишеней Т1 по самой низкой цене. Мы гарантируем высокое качество и самую низкую цену.
									p Доставка осуществляется с помощью транспортных компаний. Подробную информацию можно получить в соответствующем разделе сайта или у наших сотрудников.
									p.bold Если у Вас возникли вопросы - свяжитесь с нами.
								a.btn._blue(href="#") Купить



		include includes/footer.pug
		include includes/scripts.pug
